In [2]:
import pandas as pd

In [69]:
data = pd.read_csv('data.csv')
data.head()

   Age  Education Years  Experience Years Relationship Status  Income
0   58               16                16             Married   71370
1   43               20                36           Unmarried   51649
2   56               18                32           Unmarried   33283
3   55               16                20           Unmarried   30531
4   31               11                 3           Unmarried   53201

In [70]:
# Rename column
data = data.rename(columns={'Education Years': 'ed_yrs', 'Experience Years': 'exp_yrs', 
                            'Relationship Status': 'rel_stat', 'Age':'age', 'Income':'income'})
data.head()

   age  ed_yrs  exp_yrs   rel_stat  income
0   58      16       16    Married   71370
1   43      20       36  Unmarried   51649
2   56      18       32  Unmarried   33283
3   55      16       20  Unmarried   30531
4   31      11        3  Unmarried   53201

In [71]:
df = data.copy()

In [72]:
data['rel_stat'].unique()

array(['Married', 'Unmarried', 'Complicated', 'Divorced'], dtype=object)

In [73]:
from sklearn.preprocessing import LabelEncoder

# Label encoding
le = LabelEncoder()
data['rel_stat_label_encode'] = le.fit_transform(data['rel_stat'])
data.head()

   age  ed_yrs  exp_yrs   rel_stat  income  rel_stat_label_encode
0   58      16       16    Married   71370                      2
1   43      20       36  Unmarried   51649                      3
2   56      18       32  Unmarried   33283                      3
3   55      16       20  Unmarried   30531                      3
4   31      11        3  Unmarried   53201                      3

In [74]:
# Drop Column 
data_without_rel_stat = data.drop(columns=['rel_stat', 'rel_stat_label_encode'])
data_without_rel_stat.head()

   age  ed_yrs  exp_yrs  income
0   58      16       16   71370
1   43      20       36   51649
2   56      18       32   33283
3   55      16       20   30531
4   31      11        3   53201

In [75]:
from sklearn.model_selection import train_test_split
# Take income as y and remaining as X
X = data_without_rel_stat.drop(columns=['income'])
y = data_without_rel_stat['income']

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(70, 3) (30, 3) (70,) (30,)

In [77]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
# Create model
model = LinearRegression()
# Train model
model.fit(X_train, y_train)
# Make predictions and calculate error metrics
y_pred = model.predict(X_test)
print(y_pred)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))

[53287.32149794 54660.29612883 55476.01152405 54297.74181402
 55364.05161879 54495.85696233 54587.95823667 54638.77776514
 54881.84760296 53343.91286004 55187.01792034 53537.12775897
 55573.36174107 53995.54002547 53329.04269904 53456.48417477
 55114.59629446 53736.28898718 55159.46725025 54568.6272815
 53367.00497937 54109.8640783  53455.5195852  53425.78150659
 53940.17821253 54921.81830936 53428.31760841 53934.22739644
 55130.07786494 54490.17110582]
Mean Absolute Error: 15412.526036080184

In [78]:
# Drop Column 
data_with_rel_stat = data.drop(columns=['rel_stat'])
data_with_rel_stat.head()

   age  ed_yrs  exp_yrs  income  rel_stat_label_encode
0   58      16       16   71370                      2
1   43      20       36   51649                      3
2   56      18       32   33283                      3
3   55      16       20   30531                      3
4   31      11        3   53201                      3

In [79]:
X = data_with_rel_stat.drop(columns=['income'])
y = data_with_rel_stat['income']

In [80]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(70, 4) (30, 4) (70,) (30,)

In [81]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
# Create model
model = LinearRegression()
# Train model
model.fit(X_train, y_train)
# Make predictions and calculate error metrics
y_pred = model.predict(X_test)
print(y_pred)
print('Mean Absolute Error:', mean_absolute_error(y_test, y_pred))

[57093.09365794 56636.78801594 53568.2493419  54926.93880925
 57865.37418037 55284.05417645 52417.90014473 53604.02326791
 58176.86781897 58742.32053776 54845.42483375 52426.16405768
 55786.9366856  56676.76077555 56999.79033845 52998.84554004
 52786.18177395 53635.97644229 52190.53609786 58097.95744913
 58367.40920585 57239.96686815 58665.78078416 57242.21574066
 59123.35456498 58162.7106093  60077.32074368 58357.81482293
 53502.89077946 54222.08439747]
Mean Absolute Error: 12869.84033599604

### Making classification

In [84]:
# make income column binary classification on value >= 50000
df['income'] = df['income'].apply(lambda x: 1 if x >= 50000 else 0)
df.head()

   age  ed_yrs  exp_yrs   rel_stat  income
0   58      16       16    Married       1
1   43      20       36  Unmarried       1
2   56      18       32  Unmarried       0
3   55      16       20  Unmarried       0
4   31      11        3  Unmarried       1

In [85]:
from sklearn.preprocessing import LabelEncoder

# Label encoding
le = LabelEncoder()
df['rel_stat'] = le.fit_transform(df['rel_stat'])
df.head()

   age  ed_yrs  exp_yrs  rel_stat  income
0   58      16       16         2       1
1   43      20       36         3       1
2   56      18       32         3       0
3   55      16       20         3       0
4   31      11        3         3       1

In [99]:
from sklearn.model_selection import train_test_split
# Take income as y and remaining as X
X = df.drop(columns=['income'])
y = df['income']

In [107]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle=True, random_state=1)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(75, 4) (25, 4) (75,) (25,)

In [108]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.tree import DecisionTreeClassifier
# Create model
model = DecisionTreeClassifier()
# Train model
model.fit(X_train, y_train)
# Make predictions and calculate error metrics
y_pred = model.predict(X_test)
print(y_pred)
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test, y_pred))

[1 0 1 0 0 1 0 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 0 1]
[[3 8]
 [5 9]]
0.48

In [109]:
y_pred_train = model.predict(X_train)
print(y_pred_train)
print(accuracy_score(y_train, y_pred_train))

[0 0 0 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 0 0 1
 0 1 1 1 1 0 1 1 1 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1
 1]
1.0